html {
  background-image: url("./multimedia/textura_olas.png");
  font-family: "Lilita One", sans-serif;
  background-color: #dab2ff;
  background-size: cover;
}
.Parte1 {
  background-image: url("./multimedia/textura_olas.png");
  background-color: #f6cfff;
  border-radius: 1em;
  margin-left: 11vh;
  height: 95vh;
  width: 180vh;
}
.Parte1:hover {
  box-shadow: 0 0 10px #a6a09b;
}
.titulo {
  text-shadow: 0 0 5px #a6a09b;
  color: aliceblue;
  text-align: center;
  font-size: 4em;
}
.parrafoImagen {
  margin: auto auto auto 15vh;
  display: flex;
}
.parrafoImagen img {
  height: 50vh;
  width: 50vh;
}
.parrafoImagen p {
  text-shadow: 0 0 25px black;
  margin-right: 25px;
  color: aliceblue;
  font-size: 2.2vh;
  width: 300px;
  display: block;
}
.pResolucion {
  display: none;
}
.flechillas {
  margin: -17vh auto auto 65vh;
}
#chat-container {
  height: 800px;
  width: 800px;
  margin: 20px auto;
}
@media screen and (max-width: 768px) {
  .Parte1 {
    margin: 0 auto;
    border-radius: 0.5em;
    height: 29em;
    width: 85%;
  }
  .titulo {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.2em;
  }
  .parrafoImagen {
    margin: 0 auto;
  }
  .parrafoImagen img {
    margin: 0 auto;
    height: 12em;
    width: 12em;
  }
  .parrafoImagen p {
    display: none;
  }
  .pResolucion {
    text-shadow: 0 0 5px #a6a09b;
    text-align: justify;
    color: aliceblue;
    position: absolute;
    margin: 200px 10px;
    font-size: 1.2em;
    display: flex;
    width: 300px;
  }
  .flechillas {
    margin: 9em 2em;
    width: 250px;
  }
  #chat-container {
    height: 600px;
    width: 320px;
    margin: 90px auto;
  }
}
